<h1>Inspirational Quotes</h1>
<hr>
<ul>
  <div *ngFor='let quote of quotes;let i = index'>
    <li>{{quote.name}} due on {{quote.completeDate|date}}</li> <br>
    <button (click)='toggleDetails(i)'>Show details</button>
    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote'></app-quote-detail>
  </div>
</ul>
<p *ngIf='quotes.length > 2'>Get inspired :-)</p>


<!-- <button class="btn btn-info" (click)="upvote(i)">Upvote </button>
                    <button class="btn btn-info" (click)="downvote(i)">Downvote </button>
                    <button class="btn btn-danger" (click)="delQuote(i)">Delete</button> -->