<p>{{quote.description}}</p>
<p>This quote was posted {{quote.completeDate|dateCount}} days ago</p>
<button id="btn"  (click)='voteUp()' type="submit">
    <span class="glyphicon glyphicon-thumbs-u" aria-hidden="true"></span>
  
    <button class="badge">{{upvote}} Upvotes</button>
  </button>
<button (click)='voteDown()' id="btn"  type="submit">
  
    <button class="badge">{{downvote}} Downvotes</button>
  </button>

  <button (click)='quoteDelete(true)' id="btn"  type="submit">
  
    <button class="badge">Delete</button>
  </button>

<!-- <button (click)='quoteDelete(true)' class="btn btn-danger">Delete</button> -->
