.container-fluid{
    color: rgb(250, 244, 242);
    /* font-weight: 900; */
    font-size: 10;
}
h2{
    text-decoration: underline;
}
label{
    color: black;
}
button{
    color: black;
    background-color: rgb(83, 129, 24);
    box-shadow:0 0 10px black, inset 0 0 1px black;
    border-radius: 10%;
}